
<div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag("table1.jpg", :alt => "cover 1") %> <!-- random image -->
      <div class="caption center-align">
        <h1=>The Happy Couple</h1>
        <h4 class="light ">Effortlessly organise, RSVPs, guest-list and planning guest to tables</h5>
        <br>
        <% unless admin_signed_in? %>
        <a><%= link_to edit_admin_registration_path, class: "btn hoverable waves-effect pulse" do %>Sign Up !<% end %></a>
        <% end %>
      </div>
    </li>
    <li>
<%= image_tag("table5.jpg", :alt => "cover 1") %>      <div class="caption center-align">
        <h1>The Happy Couple</h1>
        <h4 class="light ">Effortlessly organise, RSVPs, guest-list and planning guest to tables</h4>
        <br>
        <% unless admin_signed_in? %>
        <a><%= link_to edit_admin_registration_path, class: "btn hoverable waves-effect pulse" do %>Sign Up !<% end %></a>
        <% end %>
      </div>
    </li>
    <li>
<%= image_tag("table9.jpg", :alt => "cover 1") %>      <div class="caption center-align">
        <h1>The Happy Couple</h1>
        <h4 class="light ">Effortlessly organise, RSVPs, guest-list and planning guest to tables</h4>
        <br>
        <% unless admin_signed_in? %>
        <a><%= link_to edit_admin_registration_path, class: "btn hoverable waves-effect pulse" do %>Sign Up !<% end %></a>
        <% end %>
      </div>
    </li>
    <li>
<%= image_tag("table7.jpg", :alt => "cover 1") %>      <div class="caption center-align">
        <h1>The Happy Couple</h1>
        <h4 class="light ">Effortlessly organise, RSVPs, guest-list and planning guest to tables</h4>
        <br>
        <% unless admin_signed_in? %>
        <a><%= link_to edit_admin_registration_path, class: "btn hoverable waves-effect pulse" do %>Sign Up !<% end %></a>
        <% end %>
      </div>
    </li>
  </ul>
</div>
<main>
<%= yield %>
</main>
<div class = "container">
<p style="text-align: center; font-size: 35px;"> Less Stress. More time for what matters most to you.</p>
    <div class="row">
      <div class="col s4">
        <div class="promo">
        <p class="promo-caption center">24/7</p>
        <p class="light center ">Keep up with attendees and stay in the know 24/7.</p>
        </div>
      </div>
      <div class="col s4">
        <div class="promo">
        <p class="promo-caption center">One Click</p>
        <p class="light center">Send wedding invitations to your guest with just one click.</p>
        </div>
      </div>
      <div class="col s4">
        <div class="promo">
        <p class="promo-caption center">Start now</p>
        <p class="light center">Plan your guest tables.</p>
        </div>
      </div>
    </div>
</div>
