<div class = container>
<h1>Guests List</h1>
<table class="highlight">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">RSVP</th>
      <th scope="col">Check-in</th>
      <th scope="col">Table no.</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @guests.each do |guest| %>
      <td><%= guest.name %></td>
      <td><%= guest.email %></td>
      <td><%= guest.RSVP %></td>
      <td><%= guest.check_in %></td>
      <td><%= guest.table_num %></td>
<<<<<<< HEAD
      <td><%= link_to "edit", edit_admin_guest_path(@guests, guest) %></td>
=======
      <td><%= link_to "edit", edit_guest_path(guest) %></td>
>>>>>>> 6c8a181d14f638dcd1a34468e45cf66c0fcd022a
    </tr>

  <% end %>
</tbody>

</table>

</div>
