<div class = "container">
  <% if alert %>
    <script type="text/javascript">
    Materialize.toast('Email Sent Successfully !', 4000, 'rounded')
    </script>
  <% end %>
  <ul class="progressbar">
    <% if @guests.count > 0 %>
      <li class="active">
    <% else %>
      <li>
    <% end %>
      Add guests</li>
    <% if $email_sent == true %>
      <li class="active">
    <% else %>
      <li>
    <% end %>
    Send emails</li>
    <% if @guests.count(:table_num) > 0 %>
      <li class="active">
    <% else %>
      <li>
    <% end %>
      Manage seating</li>
    <% if @guests.where.not(RSVP: nil).count > 0 %>
      <li class="active">
    <% else %>
      <li>
    <% end %>
    Review RSVPs</li>
</ul>
  <br>
  <br>
  <br>
<h1>Guest List</h1>
<br>
<% if @guests.count < 1 %>
<p style = "text-align: center;">Guest List is empty</p>
<% end %>
<div class = 'guestlistbtn'>
  <%= link_to new_guest_path, class: "btn hoverable waves-effect" do %>Add Guest<% end %>
<% if @guests.count > 0 %>
<%= link_to email_index_path, class: "btn hoverable waves-effect" do %>Send Email<% end %>
<%= link_to tables_path, class: "btn hoverable waves-effect" do %>Manage Seating<% end %>
<% end %>
</div>
<br>
<br>
<table class="highlight">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">RSVP</th>
      <th scope="col">Table no.</th>
      <th scope="col">Check-in</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @guests.order(:name).each do |guest| %>
      <td><%= guest.name %></td>
      <td><%= guest.email %></td>

      <% if guest.RSVP == true %>
        <td>Yes</td>
      <% elsif guest.RSVP == false %>
        <td>No</td>
      <% else %>
        <td></td>
      <% end %>

      <td><%= guest.table_num %></td>
      <td>
        <%= form_for(guest, url: guest_path(guest), html: {method: "put"}) do |f| %>
          <%= f.select :check_in, ([[''],["Yes",true],["No",false]]),{}, onchange: "this.form.submit()" %>
        <% end %>
      </td>
      <td><%= link_to "edit", edit_guest_path(guest),id: "edit", class: "btn hoverable waves-effect" %></td>
    </tr>

  <% end %>
</tbody>

</table>

</div>
