<div class = container>

  <ul class="progressbar">

    <% if @guests.count > 0 %>
      <li class="active">
    <% else %>
      <li>
    <% end %>
      Add guests</li>

    <li>Send emails</li>

    <% if @guests.count(:table_num) > 0 %>
      <li class="active">Manage seating</li>
      <li class="active">Review RSVPs</li>
    <% else %>
      <li>Manage seating</li>
      <li>Review RSVPs</li>
    <% end %>
  </ul>

<h1>Guest List</h1>
<% if @guests.count < 1 %>
<p>Guest List is empty</p>
<% end %>
<% if @guests.count > 0 %>
<%= link_to email_index_path, class: "btn" do %>Send Email<% end %>
<%= link_to tables_path, class: "btn" do %>Manage Seating<% end %>
<% end %>
<%= link_to new_guest_path, class: "btn" do %>Add Guest<% end %>

<table class="highlight">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">RSVP</th>
      <th scope="col">Table no.</th>
      <th scope="col">Check-in</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @guests.order(:name).each do |guest| %>
      <td><%= guest.name %></td>
      <td><%= guest.email %></td>
      <td><%= guest.RSVP %></td>
      <td><%= guest.table_num %></td>
      <td>
        <%= form_for(guest, url: guest_path(guest), html: {method: "put"}) do |f| %>
          <%= f.select :check_in, ([[''],["Yes",true],["No",false]]),{}, onchange: "this.form.submit()" %>
          <%= f.submit("Check in", class: 'btn') %>
        <% end %>
      </td>
      <td><%= link_to "edit", edit_guest_path(guest) %></td>
    </tr>

  <% end %>


</tbody>

</table>

</div>
