<div class = container>

<h1>Add Guests</h1>

<%= form_for @new_guest do |f| %>
  <%= f.label("Name:")%>
  <%= f.text_field :name %>
  <%= f.label("Email:")%>
  <%= f.email_field :email %>
  <%= f.submit("Add New Guest", class: 'btn') %>
<% end %>


<!-- <p class="display"><%= display %></p> -->
<%= @display.each do |name| %>
<%= name %>
<% end %>
</div>
