<div class = container>

    <ul id="table-out" class="side-nav fixed right-aligned collection with-header">
      <li id ="listheader" class="collection-header"><h4><i class="material-icons small">accessibility</i> Guest List</h4></li>
      <% @guests.each do |guest| %>
      <table class = "bordered">
         <tbody>
           <tr>
             <td><%= guest.name %>
               <ul id='dropdown1' class=''>
                <li>
                 <%= form_for guest do |f| %>
                 <%= f.text_field :table_num %>
                 <%= f.submit("Update", class: 'btn') %>
                 <% end %>
                </li>
               </ul>
             </td>
           </tr>
         </tbody>
       </table>
      <% end %>
    </ul>


<h1> Tables & Seatings</h1>

    <div class="row">
      <% @admin.num_tables.times do %>
      <div class="col s4">
        <table class="highlight">
            <thead>
              <tr>
                <th>TABLE <%= (@starttable) %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
              </tr>
            </tbody>
          </table>
      </div>
      <% end %>
    </div>

  </div>
