<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Dear <%= @guest.name %>,</p>
    <p><%= @message %></p>
    <p>
      <u>Wedding Details</u><br>
      <%=@admin.date.to_formatted_s(:long) %> <br>
      <%=@admin.venue %> <br>
      <%=@admin.time.strftime('%r') %> <br>
    </p>

    <p>Kindly indicate whether you can make it here! <%= link_to "RSVP here!", "http://thehappycouple.herokuapp.com/rsvps/#{@guest.id}/edit" %></p>
  <br>
  <p>Hope to hear from you soon!</p>
  <br>
  <p>
    Warm Regards <br>
  <%= @admin.title %>
  </p>

  </body>
</html>
