<div class = container>
    <ul id="table-out" class="side-nav fixed right-aligned collection with-header">
    <li id="listheader" class="collection-header"><h4><i class="material-icons small">accessibility</i> Guest List</h4></li>
      <table class = "bordered">
        <% @guestlists.each do |g| %>
          <tbody>
            <td>
              <%= g.name %>
              <%= form_for(g, :html => {:class => 'addform'}, url: tables_path) do |f| %>
              <%= f.number_field :table_num, min: 1, max: current_admin.num_tables %>
              <%= hidden_field_tag 'table_guest_id', g.id %>
              <%= f.submit("Update", class: 'btn addlist') %>
              <% end %>
            </td>
          </tbody>
        <% end %>
      </table>
    </ul>


  <h1> Tables & Seatings</h1>
    <div class="row">
      <% @table_list.each do |key, value| %>
      <div class="col s4">
        <table class="highlight">
          <thead>
            <tr>
              Table : <%= key %>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>
                  <% value.each do |v| %>
                  <%= v.name %>
                  <% end %>

                  <br>

                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
</div>
