<div class = container>
    <ul id="table-out" class="side-nav fixed right-aligned collection with-header">
    <li id ="listheader" class="collection-header"><h4><i class="material-icons small">accessibility</i> Guest List</h4></li>

      <table class = "bordered">
        <% @guest_list.each do |guest| %>
         <tbody>
             <td><%= guest.name %>
                 <%= form_for(guest, :html => {:class => 'addform'}, url: tables_path) do |f| %>
                 <%= f.text_field :table_num %>
                 <%= hidden_field_tag 'table_guest_id', guest.id %>
                 <%= f.submit("Update", class: 'btn addlist') %>
                 <% end %>
                 <% end %>
             </td>
         </tbody>
       </table>
    </ul>


<h1> Tables & Seatings</h1>

    <div class="row">
      <% @tables_list.each_with_index do |table, index| %>
      <div class="col s4">
        <table class="highlight">
          <thead>
            <tr>
             <th>TABLE <%= index+1 %> </th>
            </tr>
          </thead>
          <tbody>
            <% table.each do |t| %>

            <tr>
                <td>
                  <%= t %>
                  <%= index%>
                </td>
            </tr>
            <% end %>

          </tbody>
        </table>
      </div>
        <% end %>
    </div>

</div>
