<div class = container>
    <ul id="table-out" class="side-nav fixed right-aligned collection with-header">
      <li id ="listheader" class="collection-header"><h4><i class="material-icons small">accessibility</i> Guest List</h4></li>
      <% @guests.each do |guest| %>
      <table class = "bordered">
         <tbody>
           <tr>
             <td><%= guest.name %>
               <ul id='dropdown1' class=''>
                <li>
                 <%= form_for guest, url: tables_path do |f| %>
                 <%= f.text_field :table_num %>
                 <%= hidden_field_tag 'table_guest_id', guest.id %>
                 <%= f.submit("Update", class: 'btn') %>
                 <% end %>
                </li>
               </ul>
             </td>
           </tr>
         </tbody>
       </table>
      <% end %>
    </ul>


<h1> Tables & Seatings</h1>

    <div class="row">
      <% @tables_list.each_with_index do |t, index| %>
      <div class="col s4">
        <table class="highlight">
          <thead>
            <tr>
             <th>TABLE <%= index+1 %> </th>
            </tr>
          </thead>
          <tbody>
            <% t.each do |a| %>
            <tr>
                <td><%= a %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
        <% end %>
    </div>

</div>
