
    <ul id="table-out" class="side-nav fixed right-aligned collection with-header">
    <li id="listheader" class="collection-header"><h4><i class="material-icons small">accessibility</i> Guest List</h4></li>
      <table class = "bordered">
        <% @guestlists.each do |g| %>
          <tbody>
            <td class = "guesttable">
              <div class="row">
                <div class="col s7">
                  <%= g.name %>
                  <%= form_for(g, :html => {:class => 'addform'}, url: tables_path) do |f| %>
                  <%= f.number_field :table_num, min: 1, max: current_admin.num_tables %>
                  </div>
                  <div class="col s3">
                  <%= hidden_field_tag 'table_guest_id', g.id %>
                  <%= f.submit("+", id: 'addtable', class: 'btn pulse') do%>
                  <% end %>
                  <% end %>
                </div>
              </div>
            </td>
          </tbody>
        <% end %>
      </table>
    </ul>

    <% if notice %>
      <script type="text/javascript">
      Materialize.toast('Added Guest!', 2000, 'green')
      </script>
    <% end %>
    <% if alert %>
      <script type="text/javascript">
      Materialize.toast('Table is full!', 1000, 'red rounded')
      </script>
    <% end %>

<div class = "tablecontainer">
  <h1> Tables & Seatings</h1>
    <div class="row">
      <% @table_list.each do |key, value| %>
      <div class="col s4">
        <table class="centered">
          <thead>
            <tr>
              Table : <%= key %>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td class="tablesize">
                  <% value.each do |v| %>
                  <div id="removeform"class="col s8">
                    <%= v.name %>
                    <%= form_for(v, :html => {:class => 'removeform'}, url: tables_path) do |f| %>
                    <%= f.hidden_field :table_num, value: nil %>
                  </div>
                  <div id="removeform"class="col s3">
                    <%= hidden_field_tag 'table_guest_id', v.id %>
                    <%= f.submit("x", id: 'removetable', class: 'btn') %>
                  </div>
                  <% end %>
                  <% end %>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
</div>
