<ul id="slide-out" class="side-nav fixed right-aligned">
</ul>
<ul id="slide-out" class="side-nav fixed">
</ul>
<div class="container">

<h1>Let's Introduce Ourselves!</h1>
<br>
<%= form_for(@admin, url: onboarding_index_path(@admin), html: {method: "put"}) do |f| %>
<%= f.hidden_field :form_type, :value => "wedding" %>

  <% if @admin.errors.any?  %>
    <h4>Errors:</h4>
    <ul>
      <% @admin.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>

    <div class="input-field">
      <%= f.label :Couple_names %><br />
      <%= f.text_field :title, placeholder: "e.g. Shane & Elizabeth", autofocus: true %>
    </div>

  <div class="input-field">
    <%= f.label :Wedding_Date %><br />
    <%= f.date_field :date,  autofocus: true, class: 'datepicker' %>
  </div>

  <div class="input-field">
    <%= f.label :Wedding_start_time %><br />
    <%= f.time_field :time,  autofocus: true, class: 'timepicker' %>
  </div>


  <div class="input-field">
    <%= f.label :Venue %><br />
    <%= f.text_field :venue, placeholder: "e.g. Pan Pacific Ballroom 3", autofocus: true %>
  </div>

  <div class="input-field">
    <%= f.label :Number_of_Wedding_tables %><br />
    <%= f.number_field :num_tables,  autofocus: true %>
  </div>

  <div class="input-field">
    <%= f.label :Number_of_Wedding_seats %><br />
    <%= f.number_field :num_seats,  autofocus: true %>
  </div>
<br>
  <div class="actions" style= "text-align: center;">
    <%= f.submit "Get Started!", class: 'btn pulse'  %>
  </div>
  <br>
<% end %>
</div>
