<ul class="progressbar">
    <li class="active">Add guests</li>
    <li class="active">Send emails</li>
    <li>Manage seating</li>
    <li>Review RSVPs</li>
</ul>
<div class = container>

<h4>Customize your E-mail message to send to all your guests</h4><br>

<h6>Default Subject-line: </h6>
<h5><em>You're Invited! <%= @admin.title  %>  Wedding on <%=@admin.date.to_formatted_s(:long) %>!</em></h5>

<br>
<h5>Message</h5>
<%= form_tag(email_index_path, method: :post) %>
<%= text_area_tag 'message', nil,:placeholder => "#Your Main message here!
E.g. Hope you have been well! Michelle and I will be getting married on 23th Sept at St Peters and Paul.
Would love to invite you and your family for our wedding mass and lunch reception.

** By default, our E-mail delivery service will greet every individual unique guest,
show RSVP link, show your wedding details such as location, time, date and include email regards.
Kindly exclude them from your email", class: 'text_area_size'%>
<%= submit_tag("Submit", class: 'btn') %>

</div>

<!-- '“Dearest friend, I invite you and your family to
my wedding with Rachel to be held on 16th May at Green Pastures Lawn from 10
am. I would love your presence by my side on the auspicious occasion.” ...' -->
