<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul id="slide-out" class="side-nav fixed">
      <% unless admin_signed_in? %>
          <li><%= link_to root_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium">home</i>Home<% end %></li>
          <li><%= link_to new_admin_session_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium">assignment_ind</i>Sign In<% end %></li>
          <li><%= link_to new_admin_registration_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium">border_color</i>Sign up<% end %></li>
        <% else %>
          <li><%= link_to edit_admin_registration_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium">portrait</i>Profile<% end %></li>
          <li><%= link_to root_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium" >home</i>Home<% end %></li>
          <li><%= link_to guests_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium">people</i>Guestlist<% end %></li>
          <li><%= link_to destroy_admin_session_path, id: "navOne", class: "brand-logo hoverable waves-effect", method: :delete do %><i class="material-icons medium">exit_to_app</i>Log Out<% end %></li>
        <% end %>
      </ul>

      <ul id="slide-out" class="side-nav fixed right-aligned">
        <% if admin_signed_in? %>

        <div style="text-align: center;">
          <h4><%= current_admin.title %></h4>
            <br>
            <% if current_admin.date %>
              <a class = "btn-large pulse" id = "days">
                <%= (current_admin.date - Date.current).to_i %>
              </a>
              <% end %>
          <br>
          <br>
          <span class="sideprofile"> days to the wedding!</span>
            <br>
            <% if $response %>
            <p> RSVPs </p>
            <p> Yes: <%=  $response[true] %> </p>
            <p> No: <%= $response[false] %> </p>
            <p> Not responded: <%= $response[nil] %> </p>
            <% end %>
        </div>
    <% end %>
      </ul>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

  <%= yield %>
    </main>
    <footer class="page-footer N/A transparent">

        <div class="footer-copyright black-text text-lighten-4">
          <div class="container">
          © 2017 Copyright Text, property of MRS.
          </div>
        </div>
      </footer>
  </body>

</html>
