<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul id="slide-out" class="side-nav fixed">
      <% unless admin_signed_in? %>
          <li><%= link_to root_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium pulse">home</i><% end %></li>
          <li><%= link_to new_admin_session_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium pulse">assignment_ind</i><% end %></li>
          <li><%= link_to new_admin_registration_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium">border_color</i><% end %></li>
        <% else %>
          <li><%= link_to edit_admin_registration_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium pulse">portrait</i><% end %></li>
          <li><%= link_to root_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium pulse">home</i><% end %></li>
          <li><%= link_to tables_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium">event_seat</i><% end %></li>
          <li><%= link_to new_guest_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium">group_add</i><% end %></li>
          <li><%= link_to guests_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium">people</i><% end %></li>
          <li><%= link_to email_index_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium">mail</i><% end %></li>
          <li><%= link_to destroy_admin_session_path, id: "navOne", class: "brand-logo hoverable waves-effect", method: :delete do %><i class="material-icons medium pulse">exit_to_app</i><% end %></li>
        <% end %>
      </ul>
    <% if admin_signed_in? %>
      <ul id="slide-out" class="side-nav fixed right-aligned">

      </ul>
    <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <main>
  <%= yield %>
    </main>
    <footer class="page-footer N/A transparent">

        <div class="footer-copyright black-text text-lighten-4">
          <div class="container">
          © 2017 Copyright Text, property of MRS.
          </div>
        </div>
      </footer>
  </body>

</html>
