<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul id="slide-out" class="side-nav fixed">
      <% unless admin_signed_in? %>
          <li><%= link_to root_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium">home</i>TheHappyCouple<% end %></li>
          <li><%= link_to new_admin_registration_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium">border_color</i>Sign up<% end %></li>
          <li><%= link_to new_admin_session_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium">assignment_ind</i>Sign In<% end %></li>
        <% else %>
          <li><%= link_to root_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium" >home</i>TheHappyCouple<% end %></li>
          <li><%= link_to guests_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium">people</i>Guestlist<% end %></li>
          <li><%= link_to edit_admin_registration_path, id: "navOne", class: "brand-logo hoverable waves-effect" do %><i class="material-icons medium">portrait</i>Profile<% end %></li>
          <li><%= link_to destroy_admin_session_path, id: "navOne", class: "brand-logo hoverable waves-effect", method: :delete do %><i class="material-icons medium">exit_to_app</i>Log Out<% end %></li>
        <% end %>
      </ul>

      <ul id="slide-out" class="side-nav fixed right-aligned">
        <% if admin_signed_in? %>
        <div>
          <table class="centered">
          <% if $response %>
          <thead>
          <tr>
            <th>
              <h4>
                <%= current_admin.title %>
              </h4>
            <br>
                <% if current_admin.date %>
              <a class = "btn-large pulse" id = "days">
                <%= (current_admin.date - Date.current).to_i %>
              </a>
          <br>
          <br>
              <% if (current_admin.date - Date.current).to_i > 1 %>
              <span class="sideprofile"> days to wedding!</span>
              <% else %>
              <span class="sideprofile"> day to the wedding!</span>
              <% end %>
              <% end %>
            </th>
          </tr>
          </thead>
          <tbody class="rsvp_icons">
          <tr>
            <td><h5> RSVPs </h5></td>
          </tr>
          <tr>
            <td><i class="material-icons small">sentiment_very_satisfied</i>  Yes : <%=  $response[true] %> </td>
          </tr>
          <tr>
            <td><i class="material-icons small">sentiment_very_dissatisfied</i> No : <%= $response[false] %> </td>
          </tr>
          <tr>
            <td></i>Undecided : <%= $response[nil] %> </td>
          </tr>
          <tr>
            <td>
              <div class = "advert">
                  Ad Space Here
              </div>
             </td>
          </tr>
        </table>
      </div>
          </tbody>
          <% end %>
      <% end %>
    </ul>

      <main>
  <%= yield %>
    </main>
    <footer class="page-footer N/A transparent">

        <div class="footer-copyright black-text text-lighten-4">
          <div class="container">
          © 2017 Copyright Text, property of MRS.
          </div>
        </div>
      </footer>
  </body>

</html>
